<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/static/app.css"/>
  <title>입고</title>
</head>
<body>
<div class="container">
  <div class="card">
    <h2>입고</h2>
    <form method="post" action="/api/inbound">
      <div class="grid2">
            <div>
              <label>창고</label>
              <input name="warehouse" placeholder="예: MAIN" />
            </div>

            <div>
              <label>로케이션</label>
              <input name="location" placeholder="예: D01-01" />
            </div>

            <div>
              <label>브랜드</label>
              <input name="brand" placeholder="예: Buildtech" />
            </div>

            <div>
              <label>품번</label>
              <input name="item_code" placeholder="예: 766109" />
            </div>

            <div>
              <label>품명</label>
              <input name="item_name" placeholder="예: Build Coal" />
            </div>

            <div>
              <label>LOT</label>
              <input name="lot" placeholder="예: E465" />
            </div>

            <div>
              <label>규격</label>
              <input name="spec" placeholder="예: 1200*2400*6" />
            </div>

            <div>
              <label>수량</label>
              <input type="number" name="qty" placeholder="예: 10" />
            </div>

            <div>
              <label>비고</label>
              <input name="note" placeholder="" />
            </div>

            <div>
              <label>작업자</label>
              <input name="operator" placeholder="" />
            </div>
            </div>
      <div class="actions">
        <button class="btn" type="submit">저장</button>
        <a class="btn secondary" href="/">메인</a>
      </div>
    </form>
    <div id="msg" class="small"></div>
  </div>
</div>
</body>
</html>
